# -*- mode: gitignore; -*-

##### Backup #####
*backup*

##### LaTeX #####
_minted-thesis/
texput.log
*.bbl
*.ilg
*.ind
# *.pdf
*.lof
thesis.tex
*.dvi
*.blg
*.aux
*.bcf
*.idx
*.log
*.out
*.pyg
*.run.xml
*.toc

##### Emacs #####
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
*.fls
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
/eshell/history
/eshell/lastdir
/elpa/
*.rel
/auto/
.cask/
dist/
flycheck_*.el
/server/
.projectile
.dir-locals.el
/network-security.data
